body {
    background-color: black;
    max-width: 400px;
    margin: 0 auto;
    font-family: Poppins, sans-serif;
}

h1 {
    color: #84009b;
    font-size: 40px;
    text-align: center;
}

input {
    height: 40px;
    border: 2px solid #84009b;
    background-color: #333;
    color: #eee;
    outline: none;
    width: 70%;
    font-family: Poppins, sans-serif;
}

button {
    border: none;
    height: 44px;
    background-color: #84009b;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    font-family: Poppins, sans-serif;
    width: 90px;
}

button:hover {
    background-color: #a900c7;
    height: 33px;
}

button:active {
    background-color: #c902ec;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #4a148c;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span {
    cursor: pointer;
}